body {
    font-family: monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavenderblush;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

.name {
    font-size: 4rem;
}

.count {
    font-size: 6rem;
    margin-bottom: 10px;
}

.btns {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: large;
    background-color: rgb(251, 163, 153);
}

button:hover {
    background-color: salmon;
}